[versions]
kotlin = "2.3.0"

[libraries]

[bundles]

[plugins]
dokka = "org.jetbrains.dokka:2.1.0"
gitSemVer = "org.danilopianini.git-sensitive-semantic-versioning-gradle-plugin:7.0.11"
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-qa = "org.danilopianini.gradle-kotlin-qa:0.100.3"
multiJvmTesting = "org.danilopianini.multi-jvm-test-plugin:4.3.2"
npm-publish = "org.danilopianini.npm.publish:4.1.9"
publishOnCentral = "org.danilopianini.publish-on-central:9.1.11"
taskTree = "com.dorongold.task-tree:4.0.1"
